<div class="navbar navbar-expand-sm" style="display:flex;">
  <div class="container-fluid">
    <%= link_to "Luus Muus", "/", class: "navbar-brand" %>
     <%# <% image_tag ("http://cdn.shopify.com/s/files/1/0586/3827/0672/products/Luus-Muus-Gift-Card.png?v=1626674261"), style: 'width: 150px;' %>
    <%# <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Submissions", posts_path, class: "nav-link" %>
          </li>
           <li class="nav-item active">
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn-danger btn btn-sm" %>
          </li>
            </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
