
<p style="color: chartreuse; font-size: 1.5em;"><%= notice %></p>

<div class="signUp">
  <div class="titlePost">
  <h1>Open Mic Sign Up</h1>
  </div>

  <div class="buttonSignUp">
  <% if user_signed_in? %>
      <%= link_to "Sign Up Here", new_post_path, class: "btn-primary btn-lg" %>
    <% end %>
  </div>
    <hr>
      <div class="post-section">

          <% if user_signed_in? %>
          <h2>Current Registrations</h2>
              <% @posts.each do |post| %>
                <div class="post">
                  <%= render post %>

                  <%# <% if user %>
                  <%= link_to "View", post, class: "btn btn-outline-primary btn-sm" %>
                  <%# <% end %>

                </div>

              <% end %>
          <% else %>
              <hr>
              <h4 style="margin-bottom:1.5em;">Sign up with your email and a simple password to register</h4>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn-primary btn-lg" %>
            <% end %>
    </div>
  <hr>
</div>
