<p style="color: green"><%= notice %></p>

<div class="signUp" style="text-align: center">
  <div class="titlePost">
  <h1>Open Mic Sign Up</h1>
  </div>

  <div class="buttonSignUp">
  <% if user_signed_in? %>
      <%= link_to "Sign Up", new_post_path, class: "btn-primary btn-lg" %>
    <% end %>
  </div>
    <hr>
      <div class="post-section">
        <% if user_signed_in? %>
          <div id="posts">
            <% @posts.each do |post| %>
              <div class="post">
                <%= render post %>

                <%# <% if user %>
                <%= link_to "View", post %>
                <%# <% end %>

              </div>

            <% end %>
        <% else %>
            <%= link_to "Sign Up", new_user_session_path %>
          <% end %>

        </div>
    </div>
  <hr>
</div>
