
<p style="color: chartreuse; font-size: 1.5em;"><%= notice %></p>

<div class="signUp">
  <div class="titlePost">
  <h1>Open Mic Registrations</h1>
  </div>

  <div class="buttonSignUp">
  <% if user_signed_in? %>
      <%= link_to "Pre-register", new_post_path, class: "btn-primary btn-lg" %>
    <% end %>
  </div>
    <hr>
      <div class="post-section">
        <% if user_signed_in? %>
          <h2>Registrations</h2>
            <h5>Equipment</h5>
            <p>Roland keyboard, acoustic guitar, monitor, speaker, 9 track mixer with compression, 2 microphones with stands. (All with cables not wireless)</p>
              <% @posts.each do |post| %>
                <div class="post">
                  <%= render post %>
                  <%= link_to "View", post, class: "btn btn-outline-primary btn-sm" %>
                </div>
              <% end %>
          <% else %>
              <hr>
              <h4 style="margin-bottom:1.5em;">Pre-register with your email for a guaranteed spot!</h4>
              <%= link_to "Pre-register", new_user_registration_path, class: "btn-primary btn-lg" %>
          <% end %>
    </div>
  <hr>
 <a href = "mailto: sararickt@gmail.com" class="btn btn-warning">Send Email</a>
</div>
