<div class="container">
<p style="color: chartreuse; font-size: 1.5em;"><%= notice %></p>
<h1 class="titlePost" style="text-align:center; color:antiquewhite;">Registration</h1>
<div class="showCard">
  <%# <% if current_user %>
    <%= render @post %>
  <%# <% end %>
    <div class="buttonsShow">
      <%= link_to "Edit Registration", edit_post_path(@post), class: "btn btn-warning editBtn" %>
      <%= link_to "Back to List", posts_path, class: "btn btn-light backBtn" %>

      <%= button_to "Destroy this Registration", @post, method: :delete, class: "btn btn-danger deleteBtn" %>
    </div>
  </div>
</div>
